.App {
  text-align: center;
  background-image: linear-gradient(to right, #7875ff, #5956f5);
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}